<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find aist_scene_description)/urdf/phoxi_m_camera.urdf.xacro" />

  <link name ="base_link"/>
  
  <xacro:phoxi_m_camera prefix="" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:phoxi_m_camera>
</robot>

