<?xml version="1.0"?>
<robot name="phoxi_m_camera" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="phoxi_m_camera" params="prefix parent *origin">

    <xacro:include filename="$(find aist_phoxi_camera)/urdf/PhoXi3Dscanner_values.xacro"/>
    <xacro:include filename="$(find aist_phoxi_camera)/urdf/PhoXi3Dscanner_macro.xacro"/>

    <xacro:PhoXi3Dscanner scanner_parent="${parent}"
			  scanner_name  ="${prefix}camera"
			  sensor_parent ="${prefix}camera"
			  sensor_name   ="${prefix}sensor">
      <xacro:insert_block name="origin"/>
      <xacro:PhoXi3DscannerM_default_sensor_origin/>
      <xacro:PhoXi3DscannerM_meshes/>
    </xacro:PhoXi3Dscanner>

    <link name="${prefix}camera_link"/>
    <joint name="${prefix}sensor_to_${prefix}camera_link" type="fixed">
      <parent link="${prefix}sensor"/>
      <child  link="${prefix}camera_link"/>
      <origin xyz="0 0 0" rpy="${pi/2} ${-pi/2} 0"/>
    </joint>

    <gazebo reference="${prefix}camera_link">
      <sensor name="${prefix}camera" type="depth">
	<always_on>true</always_on>
	<visualize>true</visualize>
	<camera>
          <horizontal_fov>0.876</horizontal_fov>
          <image>
            <width>2064</width>
            <height>1544</height>
            <format>L8</format>
          </image>
          <depth_camera>
          </depth_camera>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
	</camera>
	<plugin name="${prefix}cam_controller"
		filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.35</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>2.5</updateRate>
          <cameraName>${prefix}camera</cameraName>
          <frameName>${prefix}sensor</frameName>
          <imageTopicName>texture</imageTopicName>
          <depthImageTopicName>depth_map</depthImageTopicName>
          <pointCloudTopicName>pointcloud</pointCloudTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>camera_info</depthImageCameraInfoTopicName>
          <pointCloudCutoff>0.4</pointCloudCutoff>
          <!-- <hackBaseline>0.35</hackBaseline> -->
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0.0</CxPrime>
          <Cx>0.0</Cx>
          <Cy>0.0</Cy>
          <focalLength>0.0</focalLength>
	</plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
