<?xml version="1.0" ?>
<launch>

  <arg name="camera0_serial_no"	default="636203005853"/>
  <arg name="camera1_serial_no"	default="636203005303"/>
  <arg name="camera0_name"	default="a_bot_inside_camera"/>
  <arg name="camera1_name"	default="a_bot_outside_camera"/>
  <arg name="camera_width"	default="640"/>
  <arg name="camera_height"	default="480"/>
  <arg name="fps"		default="30"/>
  <arg name="manager"		default=""/>

  <!-- Launch RealSense cameras -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"		value="$(arg camera0_serial_no)"/>
    <arg name="camera"			value="$(arg camera0_name)"/>
    <arg name="tf_prefix"		value="calibrated_$(arg camera0_name)"/>
    <arg name="enable_depth"		value="true"/>
    <arg name="enable_infra1"		value="true"/>
    <arg name="enable_infra2"		value="false"/>
    <arg name="enable_pointcloud"	value="false"/>
    <arg name="align_depth"		value="true"/>
    <arg name="depth_width"		value="$(arg camera_width)"/>
    <arg name="depth_height"		value="$(arg camera_height)"/>
    <arg name="depth_fps"		value="$(arg fps)"/>
    <arg name="infra_width"		value="$(arg camera_width)"/>
    <arg name="infra_height"		value="$(arg camera_height)"/>
    <arg name="infra_fps"		value="$(arg fps)"/>
    <arg name="color_width"		value="$(arg camera_width)"/>
    <arg name="color_height"		value="$(arg camera_height)"/>
    <arg name="color_fps"		value="$(arg fps)"/>
    <arg name="enable_streaming"	value="true"/>
    <arg name="manager"			value="$(arg manager)"
	 unless="$(eval manager == '')"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"		value="$(arg camera1_serial_no)"/>
    <arg name="camera"			value="$(arg camera1_name)"/>
    <arg name="tf_prefix"		value="calibrated_$(arg camera1_name)"/>
    <arg name="enable_depth"		value="true"/>
    <arg name="enable_infra1"		value="true"/>
    <arg name="enable_infra2"		value="false"/>
    <arg name="enable_pointcloud"	value="false"/>
    <arg name="align_depth"		value="true"/>
    <arg name="depth_width"		value="$(arg camera_width)"/>
    <arg name="depth_height"		value="$(arg camera_height)"/>
    <arg name="depth_fps"		value="$(arg fps)"/>
    <arg name="infra_width"		value="$(arg camera_width)"/>
    <arg name="infra_height"		value="$(arg camera_height)"/>
    <arg name="infra_fps"		value="$(arg fps)"/>
    <arg name="color_width"		value="$(arg camera_width)"/>
    <arg name="color_height"		value="$(arg camera_height)"/>
    <arg name="color_fps"		value="$(arg fps)"/>
    <arg name="enable_streaming"	value="true"/>
    <arg name="manager"			value="$(arg manager)"
	 unless="$(eval manager == '')"/>
  </include>

  <!-- Setup transformation between two cameras -->
  <node name="dummy_handeye" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0
	      calibrated_$(arg camera0_name)_link
	      calibrated_$(arg camera1_name)_link 10"/>

  <!-- Launch camera multiplexer -->
  <node name="camera_multiplexer"
	pkg="aist_camera_multiplexer" type="aist_camera_multiplexer"
	output="screen">
    <rosparam param="camera_names" subst_value="true">
      [$(arg camera0_name), $(arg camera1_name)]
    </rosparam>

    <remap from="/camera_info0"	to="$(arg camera0_name
				    )/depth_filter/camera_info"/>
    <remap from="/image0"	to="$(arg camera0_name)/color/image_raw"/>
    <remap from="/depth0"	to="$(arg camera0_name
				    )/aligned_depth_to_color/image_raw"/>

    <remap from="/camera_info1"	to="$(arg camera1_name
				    )/color/camera_info"/>
    <remap from="/image1"	to="$(arg camera1_name)/color/image_raw"/>
    <remap from="/depth1"	to="$(arg camera1_name
				    )/aligned_depth_to_color/image_raw"/>
  </node>

  <!-- Launch camera multiplexer client -->
  <node name="drealsense"
	pkg="aist_camera_multiplexer" type="drealsense.py" output="screen"/>

  <!-- Launch Rviz and rt_reconfigure -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz"
  	args="-d $(find aist_camera_multiplexer)/launch/test.rviz"
  	respawn="false" output="screen"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
