<?xml version="1.0" ?>
<launch>

  <arg name="multiplexer_name"	default="camera_multiplexer"/>
  <arg name="camera_names"	default="a_bot_inside_camera,
					 a_bot_outside_camera"/>
  <arg name="serial_nos"	default="636203005853, 636203005303"/>

  <arg name="publish_tf"	default="true"/>
  <arg name="camera_width"	default="640"/>
  <arg name="camera_height"	default="480"/>
  <arg name="fps"		default="30"/>
  <arg name="enable_streaming"	default="true"/>
  <arg name="manager"		default=""/>
  <arg name="camera_no"		default="0"/>
  <arg name="sim"		default="false"/>
  <arg name="vis"		default="false"/>

  <arg name="external_manager"	value="$(eval manager != '')"/>

  <!-- Launch nodelet manger -->
  <group if="$(eval camera_no != len(camera_names.split(',')))">
    <!-- Get camera name and its serial number -->
    <arg name="camera_name"
	 value="$(eval camera_names.split(',')[camera_no].strip())"/>
    <arg name="serial_no"
	 value="$(eval serial_nos.split(',')[camera_no].strip())"/>

    <!-- Launch camera_no-th camera -->
    <include unless="$(arg sim)"
	     file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"		value="$(arg serial_no)"/>
      <arg name="camera"		value="$(arg camera_name)"/>
      <arg name="tf_prefix"		value="calibrated_$(arg camera_name)"/>
      <arg name="publish_tf"		value="$(arg publish_tf)"/>
      <arg name="enable_depth"		value="true"/>
      <arg name="enable_infra1"		value="true"/>
      <arg name="enable_infra2"		value="false"/>
      <arg name="enable_pointcloud"	value="false"/>
      <arg name="align_depth"		value="true"/>
      <arg name="depth_width"		value="$(arg camera_width)"/>
      <arg name="depth_height"		value="$(arg camera_height)"/>
      <arg name="depth_fps"		value="$(arg fps)"/>
      <arg name="infra_width"		value="$(arg camera_width)"/>
      <arg name="infra_height"		value="$(arg camera_height)"/>
      <arg name="infra_fps"		value="$(arg fps)"/>
      <arg name="color_width"		value="$(arg camera_width)"/>
      <arg name="color_height"		value="$(arg camera_height)"/>
      <arg name="color_fps"		value="$(arg fps)"/>
      <arg name="enable_streaming"	value="$(arg enable_streaming)"/>
      <arg name="external_manager"	value="$(arg external_manager)"/>
      <arg name="manager"		value="/$(arg manager)"
	   if="$(arg external_manager)"/>
    </include>

    <!-- Connect camera outputs to the multiplexer -->
    <remap from="/$(arg multiplexer_name)/$(arg camera_name)/camera_info"
    	   to="$(arg camera_name)/color/camera_info"/>
    <remap from="/$(arg multiplexer_name)/$(arg camera_name)/image"
    	   to="$(arg camera_name)/color/image_raw"/>
    <remap from="$(arg multiplexer_name)/$(arg camera_name)/depth"
    	   to="$(arg camera_name)/aligned_depth_to_color/image_raw"/>

    <!-- Recursively call myself for launching remaining cameras -->
    <include file="$(dirname)/realsense.launch">
      <arg name="multiplexer_name"	value="$(arg multiplexer_name)"/>
      <arg name="camera_names"		value="$(arg camera_names)"/>
      <arg name="serial_nos"		value="$(arg serial_nos)"/>
      <arg name="publish_tf"		value="$(arg publish_tf)"/>
      <arg name="camera_width"		value="$(arg camera_width)"/>
      <arg name="camera_height"		value="$(arg camera_height)"/>
      <arg name="fps"			value="$(arg fps)"/>
      <arg name="enable_streaming"	value="$(arg enable_streaming)"/>
      <arg name="manager"		value="$(arg manager)"/>
      <arg name="camera_no"		value="$(eval camera_no + 1)"/>
      <arg name="sim"			value="$(arg sim)"/>
      <arg name="vis"			value="$(arg vis)"/>
    </include>
  </group>

  <!-- Launch the multiplexer after all cameras have been launched -->
  <group unless="$(eval camera_no != len(camera_names.split(',')))">

    <node unless="$(arg external_manager)"
	  name="$(arg multiplexer_name)"
	  pkg="aist_camera_multiplexer" type="aist_camera_multiplexer"
	  output="screen">
      <rosparam param="camera_names"
		subst_value="true">[$(arg camera_names)]</rosparam>
    </node>

    <group if="$(arg external_manager)">
      <node name="$(arg multiplexer_name)"
	    pkg="nodelet" type="nodelet" output="screen"
  	    args="load aist_camera_multiplexer/aist_camera_multiplexer_nodelet
		  $(arg manager)">
	<rosparam param="camera_names"
		  subst_value="true">[$(arg camera_names)]</rosparam>
      </node>
      <node name="$(arg manager)" pkg="nodelet" type="nodelet"
	    args="manager" output="screen" respawn="false"/>
    </group>

    <group if="$(arg vis)">
      <node name="$(anon rviz)" pkg="rviz" type="rviz"
  	    args="-d $(dirname)/test.rviz" respawn="false" output="screen"/>
      <node name="rqt_reconfigure"
	    pkg="rqt_reconfigure" type="rqt_reconfigure"/>
    </group>

  </group>

</launch>
