<?xml version="1.0" ?>
<launch>

  <arg name="id"		default="InstalledExamples-basic-example"/>
  <arg name="camera0_name"	default="a_bot_camera"/>
  <arg name="camera1_name"	default="a_phoxi_m_camera"/>
  <arg name="manager"		default=""/>

  <!-- Launch RealSense camera and depth filter -->
  <include file="$(find aist_depth_filter)/launch/realsense.launch">
    <arg name="camera_name"	value="$(arg camera0_name)"/>
    <arg name="manager"		value="$(arg manager)"/>
    <arg name="vis"		value="false"/>
  </include>

  <!-- Launch PhoXi camera and depth filter -->
  <include file="$(find aist_depth_filter)/launch/phoxi.launch">
    <arg name="id"		value="$(arg id)"/>
    <arg name="camera_name"	value="$(arg camera1_name)"/>
    <arg name="camera_frame"	value="calibrated_$(arg camera0_name
				       )_color_optical_frame"/>
    <arg name="manager"		value="$(arg manager)"/>
    <arg name="vis"		value="false"/>
  </include>

  <node name="camera_multiplexer"
	pkg="aist_camera_multiplexer" type="aist_camera_multiplexer"
	output="screen">
    <rosparam param="camera_names" subst_value="true">
      [$(arg camera0_name), $(arg camera1_name)]
    </rosparam>

    <remap from="/camera_info0"	to="$(arg camera0_name
				    )/depth_filter/camera_info"/>
    <remap from="/image0"	to="$(arg camera0_name)/depth_filter/image"/>
    <remap from="/depth0"	to="$(arg camera0_name)/depth_filter/depth"/>
    <remap from="/normal0"	to="$(arg camera0_name)/depth_filter/normal"/>

    <remap from="/camera_info1"	to="$(arg camera1_name
				    )/depth_filter/camera_info"/>
    <remap from="/image1"	to="$(arg camera1_name)/depth_filter/image"/>
    <remap from="/depth1"	to="$(arg camera1_name)/depth_filter/depth"/>
    <remap from="/normal1"	to="$(arg camera1_name)/depth_filter/normal"/>
  </node>

  <node name="$(anon rviz)" pkg="rviz" type="rviz"
  	args="-d $(find aist_camera_multiplexer)/launch/test.rviz"
  	respawn="false" output="screen"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
