<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="task_board">

  <xacro:macro name="jig_flat_slope" params="jigname parent *origin">
  <xacro:property name="mesh_file" value="package://o2ac_scene_description/meshes/jig_slope.stl" />

  <link name="${jigname}">
    <inertial>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="${mesh_file}" scale=".001 .001 .001"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="${mesh_file}" scale=".001 .001 .001"/>
      </geometry>
    </collision>
  </link>
  <joint name="${jigname}" type="fixed">
    <parent link="${parent}" />
    <child link = "${jigname}" />
    <xacro:insert_block name="origin"/>
  </joint>


  <joint name="${jigname}_drop_point_joint" type="fixed">
    <parent link="${jigname}"/>
    <child link="${jigname}_drop_point_link"/>
    <origin rpy="0.0 ${pi/2} ${pi/2}" xyz="-0.08 0.3 0"/>
  </joint>
  <link name="${jigname}_drop_point_link"/>

  <!-- <joint name="${boardname}_part7_2" type="fixed">
    <parent link="${boardname}_part7_1"/>
    <child link="${boardname}_part7_2"/>
    <origin rpy="0.0 0.0 ${pi*1.0}" xyz="0.003 0.0 0.0"/>
  </joint>
  <link name="${boardname}_part7_2">
    <visual>
      <origin xyz="0.0015 0 -0.0125" rpy="0 0 ${pi/2}"/>
      <geometry>
        <box size=".025 0.003 .076"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual> 
  </link> -->


  </xacro:macro>
  <!-- Add additional links for us to plan with.-->
</robot>

