<?xml version="1.0"?>

<!-- This file is a safety measure because a_bot is temporarily using a 2F-140 gripper 
     instead of a 2F-85 gripper. The tip link is set to the . -->

<robot name="robotiq_85_gripper_o2ac" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="o2ac_end_effector" params="prefix use_soft_wrist:=false use_cameras:=false parent">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_140_gripper.urdf.xacro"/>
    
    <xacro:robotiq_140_gripper prefix="${prefix}" parent="${parent}">
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
    </xacro:robotiq_140_gripper>

    <xacro:if value="${use_cameras}">
      <xacro:include filename="$(find o2ac_scene_description)/urdf/components/wrist_cameras.xacro" />
      <xacro:wrist_cameras prefix="${prefix}" parent="${prefix}robotiq_140_base_link"/>
    </xacro:if>

    <!-- Add an additional link to plan with. Oriented like the UR ee_link frame. -->
    <joint name="${prefix}robotiq_85_tip_link_joint" type="fixed">
      <parent link="${prefix}robotiq_140_base_link"/>
      <child link="${prefix}robotiq_85_tip_link"/>
      <origin rpy="0.0 0.0 0.0" xyz="${.163+.083} 0.0 0.0"/>
    </joint>
    <link name="${prefix}robotiq_85_tip_link"/>

    <!-- ========= -->
    <!-- Add screw tool tip frames. X-axis points along the screw into the hole. -->
    
    <!-- Offset of the gripper tooltips -->
    <joint name="${prefix}tool_intermediate_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_link"/>
      <child link="${prefix}tool_intermediate_link"/>
      <origin rpy="${pi} ${-pi/3} 0" xyz="-.03 0 0"/>
    </joint>
    <link name="${prefix}tool_intermediate_link"/>

    <joint name="${prefix}robotiq_85_nut_tool_m6_tip_joint" type="fixed">
      <parent link="${prefix}tool_intermediate_link"/>
      <child link="${prefix}nut_tool_m6_tip_link"/>
      <origin rpy="0 0 0" xyz="0.12 0 0 "/>
    </joint>
    <link name="${prefix}nut_tool_m6_tip_link"/>
    
    <joint name="${prefix}robotiq_85_screw_tool_m4_tip_joint" type="fixed">
      <parent link="${prefix}tool_intermediate_link"/>
      <child link="${prefix}screw_tool_m4_tip_link"/>
      <origin rpy="0 0 0" xyz=".141 0 0.005 "/>
    </joint>
    <link name="${prefix}screw_tool_m4_tip_link"/>

    <joint name="${prefix}robotiq_85_screw_tool_m3_tip_joint" type="fixed">
      <parent link="${prefix}tool_intermediate_link"/>
      <child link="${prefix}screw_tool_m3_tip_link"/>
      <origin rpy="0 0 0" xyz=".121 0 .003 "/>
    </joint>
    <link name="${prefix}screw_tool_m3_tip_link"/>

    <joint name="${prefix}robotiq_85_set_screw_tool_tip_joint" type="fixed">
      <parent link="${prefix}tool_intermediate_link"/>
      <child link="${prefix}set_screw_tool_tip_link"/>
      <origin rpy="0 0 0" xyz="0.0725 0 0.009"/>
    </joint>
    <link name="${prefix}set_screw_tool_tip_link"/>
  </xacro:macro>
</robot>
