<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="task_board">

  <xacro:macro name="vgroove_aid" params="jigname parent *origin">
  <xacro:property name="mesh_file" value="package://o2ac_scene_description/meshes/vgroove_aid.stl" />

  <link name="${jigname}_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="${mesh_file}" scale=".001 .001 .001"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="${mesh_file}" scale=".001 .001 .001"/>
      </geometry>
    </collision>
  </link>
  <joint name="${jigname}_joint" type="fixed">
    <parent link="${parent}" />
    <child link = "${jigname}_link" />
    <xacro:insert_block name="origin"/>
  </joint>


  <joint name="${jigname}_drop_point_joint" type="fixed">
    <parent link="${jigname}_link"/>
    <child link="${jigname}_drop_point_link"/>
    <origin rpy="0 ${pi/2} ${-pi/2}" xyz="0 0 0.05"/>
  </joint>
  <link name="${jigname}_drop_point_link"/>

  </xacro:macro>
  <!-- Add additional links for us to plan with.-->
</robot>

