<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="o2ac_environment" >

  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/o2ac_box.xacro" />
  <!-- This file defines the frames surrounding the robots, used to fix the tools, multi-jig etc. -->
  <xacro:property name="vert_column_x_back" value="${-.325-.15-.04}"/>
  
  <xacro:o2ac_box boxname="vertical_column_right" box_w=".04" box_l=".04" box_h="2.0" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} .2 0" rpy="0 0 0" />   
  </xacro:o2ac_box> 
  <xacro:o2ac_box boxname="vertical_column_left" box_w=".04" box_l=".04" box_h="2.0" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.24 0" rpy="0 0 0" />   
  </xacro:o2ac_box> 

  <xacro:o2ac_box boxname="horizontal_column_top" box_w=".04" box_l=".4" box_h=".04" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.2 1.96" rpy="0 0 0" />   
  </xacro:o2ac_box> 

  <xacro:o2ac_box boxname="horizontal_column_for_tools" box_w=".04" box_l=".4" box_h=".04" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.2 1.058" rpy="0 0 0" />   
  </xacro:o2ac_box> 

  <!-- Screw holder & screw tool visual -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/tools.xacro" />

  <!-- Add screw feeders -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/screw_feeder.xacro" />
  
  <xacro:screw_feeder feedername="m4_feeder" parent="workspace_center">
    <origin xyz="-.55 .05 -0.043" rpy="0 0 0" />   
  </xacro:screw_feeder> 
  <xacro:screw_feeder feedername="m3_feeder" parent="workspace_center">
    <origin xyz="-.55 -.15 -0.043" rpy="0 0 0" />   
  </xacro:screw_feeder> 

  <!-- Base fixture -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/base_fixture.xacro" />
  <xacro:base_fixture parent="workspace_center">
    <origin xyz="-0.27 -.18 0" rpy="0 0 0" />   
  </xacro:base_fixture> 

  <!-- Tray -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/tray.xacro" />
  <xacro:tray trayname="tray" parent="workspace_center">
    <origin xyz="0.05 -0.2 0" rpy="0 0 0" />
  </xacro:tray>

  <!-- Add the jigs -->
  <!-- <xacro:include filename="$(find o2ac_scene_description)/urdf/components/jig_flat_slope.xacro" />
  <xacro:jig_flat_slope jigname="jig_flat_slope" parent="horizontal_column_1">
    <origin xyz="0.04 0.15 0" rpy="0 0 0" />   
  </xacro:jig_flat_slope>  -->
  
  <!-- <xacro:include filename="$(find o2ac_scene_description)/urdf/components/jig_v_slope.xacro" /> -->
  <!-- <xacro:jig_v_slope jigname="jig_v_slope" parent="horizontal_column_1">
    <origin xyz="0 0 0" rpy="0 0 0" />   
  </xacro:jig_v_slope>  -->

  <!-- ======== -->

  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/nut_holder.xacro" />
  <xacro:nut_holder partname="nut_holder" parent="a_bot_base_smfl">
    <origin xyz="0 .6 0.02" rpy="0 0 0" />  
  </xacro:nut_holder> 

  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/washer_holder.xacro" />
  <xacro:washer_holder partname="washer_holder" parent="a_bot_base_smfl">
    <origin xyz="0 .54 0.02" rpy="0 0 0" />  
  </xacro:washer_holder> 

  <xacro:nut_holder partname="calibration_cone" parent="workspace_center">
    <origin xyz="${-0.365+0.01} ${0.345+.03} ${0.022-0.0465}" rpy="0 0 0" />  
  </xacro:nut_holder>  

  

</robot>
