<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="o2ac_environment" >

  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/o2ac_box.xacro" />
  <!-- This file defines the frames surrounding the robots, used to fix the tools, multi-jig etc. -->
  <xacro:property name="vert_column_x_back" value="${-.325-.15}"/>
  <xacro:property name="vert_column_x_front" value="${.325-.04}"/>
  
  <xacro:o2ac_box boxname="vertical_column_right" box_w=".04" box_l=".04" box_h="2.0" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} .2 0" rpy="0 0 0" />   
  </xacro:o2ac_box> 
  <xacro:o2ac_box boxname="vertical_column_left" box_w=".04" box_l=".04" box_h="2.0" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.24 0" rpy="0 0 0" />   
  </xacro:o2ac_box> 

  <xacro:o2ac_box boxname="cross_column_top" box_w=".04" box_l=".4" box_h=".04" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.2 1.96" rpy="0 0 0" />   
  </xacro:o2ac_box> 

  <xacro:o2ac_box boxname="cross_column_1" box_w=".04" box_l=".4" box_h=".04" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.2 1.0" rpy="0 0 0" />   
  </xacro:o2ac_box> 
  <xacro:o2ac_box boxname="cross_column_2" box_w=".04" box_l=".4" box_h=".04" parent="o2ac_ground">
    <origin xyz="${vert_column_x_back} -.2 1.3" rpy="0 0 0" />   
  </xacro:o2ac_box> 


  <!-- Screw holder & screw tool visual -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/screw_tools.xacro" />

  <!-- Add screw feeders -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/screw_feeder.xacro" />
  
  <xacro:screw_feeder feedername="m4_feeder" parent="workspace_center">
    <origin xyz="${vert_column_x_back} .3 0" rpy="0 0 0" />   
  </xacro:screw_feeder> 
  <xacro:screw_feeder feedername="m3_feeder" parent="workspace_center">
    <origin xyz="${vert_column_x_back} .45 0" rpy="0 0 0" />   
  </xacro:screw_feeder> 

  <!-- Add the jigs -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/jig_flat_slope.xacro" />
  <xacro:jig_flat_slope jigname="jig_flat_slope" parent="cross_column_1">
    <origin xyz="0.04 0.15 0" rpy="0 0 0" />   
  </xacro:jig_flat_slope> 
  
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/jig_v_slope.xacro" />
  <!-- <xacro:jig_v_slope jigname="jig_v_slope" parent="cross_column_1">
    <origin xyz="0 0 0" rpy="0 0 0" />   
  </xacro:jig_v_slope>  -->

  <!-- Tray -->
  <xacro:include filename="$(find o2ac_scene_description)/urdf/components/tray.xacro" />
  <xacro:tray trayname="tray" parent="workspace_center">
    <origin xyz="0.2 -0.2 0" rpy="0 0 0" />   
  </xacro:tray> 

</robot>
