<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="task_board">

  <xacro:macro name="task_board" params="boardname parent *origin">
  <xacro:property name="mesh_file" value="package://o2ac_scene_description/meshes/taskBoard.STL" />

  <link name="${boardname}">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.03"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.03"/>
      <geometry>
        <mesh filename="${mesh_file}" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.03"/>
      <geometry>
        <mesh filename="${mesh_file}" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="${boardname}" type="fixed">
    <parent link="${parent}" />
    <child link = "${boardname}" />
    <xacro:insert_block name="origin"/>
  </joint>

  <joint name="${boardname}_surface" type="fixed">
    <parent link="${boardname}" />
    <child link = "${boardname}_surface"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.04"/>
  </joint>
  <link name="${boardname}_surface"/>

  <joint name="${boardname}_corner1" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_corner1"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.01 0.39 0.0"/>
  </joint>
  <link name="${boardname}_corner1"/>

  <joint name="${boardname}_corner2" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_corner2"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.39 0.39 0.0"/>
  </joint>
  <link name="${boardname}_corner2"/> 
  <joint name="${boardname}_corner3" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_corner3"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.39 0.01 0.0"/>
  </joint>
  <link name="${boardname}_corner3"/> 
  <joint name="${boardname}_corner4" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_corner4"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.01 0.01 0.0"/>
  </joint>
  <link name="${boardname}_corner4"/> 

  <joint name="${boardname}_part1" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part1"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.33 0.07 0.0"/>
  </joint>
  <link name="${boardname}_part1"/>

  <joint name="${boardname}_part2" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part2"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.36 0.34 0.0"/>
  </joint>
  <link name="${boardname}_part2"/>

  <joint name="${boardname}_part3" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part3"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.3 0.31 0.0"/>
  </joint>
  <link name="${boardname}_part3"/>

  <joint name="${boardname}_part4" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part4"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.27 0.24 0.0"/>
  </joint>
  <link name="${boardname}_part4"/>

  <joint name="${boardname}_part5" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part5"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.25 0.35 0.002"/>
  </joint>
  <link name="${boardname}_part5">
    <visual>
      <origin xyz="0 0 .0375" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".075" radius=".005"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>

  <joint name="${boardname}_part15" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part15"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.25 0.35 0.0772"/>
  </joint>
  <link name="${boardname}_part15"/>

  <joint name="${boardname}_part6_small_pulley" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part6_small_pulley"/>
    <origin rpy="0.0 0.0 ${pi*0.0}" xyz="0.07 0.34 0.0085"/>
  </joint>
  <link name="${boardname}_part6_small_pulley">
    <visual>
      <origin xyz="0 0 -.00475" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".0085" radius=".016"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>

  <joint name="${boardname}_part7_1" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part7_1"/>
    <origin rpy="0.0 0.0 ${pi*-0.5}" xyz="0.058 0.049 0.054"/>
  </joint>
  <link name="${boardname}_part7_1"/>

  <joint name="${boardname}_part8" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part8"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.24 0.08 0.012"/>
  </joint>
  <link name="${boardname}_part8">
    <visual>
      <origin xyz="0 0 -.006" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".012" radius=".006"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>


  <joint name="${boardname}_part9" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part9"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.129 0.121 0.007"/>
  </joint>
  <link name="${boardname}_part9">
    <visual>
      <origin xyz="0 0 -.0045" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".009" radius=".0032"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>

  <joint name="${boardname}_part10" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part10"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.34 0.21 0.0515"/>
  </joint>
  <link name="${boardname}_part10">  
    <visual>
      <origin xyz="0 0 -.025" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".05" radius=".003"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>

  <joint name="${boardname}_part11" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part11"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.17 0.33 0.0"/>
  </joint>
  <link name="${boardname}_part11"/>

  <joint name="${boardname}_part12" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part12"/>
    <origin rpy="${pi*-0.5} ${pi*0.5} ${pi*0.}" xyz="0.15 0.25 0.0"/>
  </joint>
  <link name="${boardname}_part12"/>

  <joint name="${boardname}_part13" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part13"/>
    <origin rpy="${pi*-0.5} ${pi*0.5} ${pi*0.}" xyz="0.25 0.35 0.078"/>
  </joint>
  <link name="${boardname}_part13"/>

  <joint name="${boardname}_part14" type="fixed">
    <parent link="${boardname}_surface"/>
    <child link="${boardname}_part14"/>
    <origin rpy="0.0 0.0 ${pi*0.5}" xyz="0.22 0.18 0.0515"/>
  </joint>
  <link name="${boardname}_part14">  
    <visual>
      <origin xyz="0 0 -.025" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".05" radius=".003"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>

  <joint name="${boardname}_part6_large_pulley" type="fixed">
    <parent link="${boardname}_part6_small_pulley"/>
    <child link="${boardname}_part6_large_pulley"/>
    <origin rpy="0.0 0.0 ${pi*0.0}" xyz="0.0 -0.128 0.0"/>
  </joint>
  <link name="${boardname}_part6_large_pulley">
    <visual>
      <origin xyz="0 0 -.00475" rpy="0 0 0"/>
      <geometry>
        <cylinder length=".0085" radius=".031"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>
  <!-- ======== -->

  <joint name="${boardname}_part7_2" type="fixed">
    <parent link="${boardname}_part7_1"/>
    <child link="${boardname}_part7_2"/>
    <origin rpy="0.0 0.0 ${pi*1.0}" xyz="0.003 0.0 0.0"/>
  </joint>
  <link name="${boardname}_part7_2">
    <visual>
      <origin xyz="0.0015 0 -0.0125" rpy="0 0 ${pi/2}"/>
      <geometry>
        <box size=".025 0.003 .076"/> 
      </geometry>
      <material name="grey">
        <color rgba=".3 .3 .3 1"/>
      </material>
    </visual>
  </link>
  <!-- ======== -->



  </xacro:macro>
  <!-- Add additional links for us to plan with.-->
</robot>
