<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="d_bot_camera" >

  <gazebo>
    <static>true</static>
  </gazebo>

  <xacro:include filename="$(find o2ac_gazebo)/urdf/d_bot_camera.gazebo" />
  <xacro:include filename="$(find realsense2_camera)/urdf/_d435.urdf.xacro" />

  <link name="world" />
  <link name="d_bot_base"/>

  <joint name="world_d_bot_base" type="fixed">
    <parent link="world" />
    <child link="d_bot_base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="d_bot_link" />

  <joint name="d_bot_joint" type="fixed">
    <parent link="d_bot_base" />
    <child link="d_bot_link" />
    <origin xyz="0.0 0.0 2.0" rpy="0.0 ${pi/2} 0.0" />
  </joint>

  <!-- <virtual_joint name="d_bot_joint" type="fixed"
           parent_frame="o2ac_ground" child_link="d_bot_link"/> -->

  <link name="d_bot_cam_holder_link" />
  <joint name="d_bot_cam_holder_joint" type="fixed">
    <parent link="d_bot_link" />
    <child link="d_bot_cam_holder_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </joint>

  <xacro:sensor_d435 prefix="d_bot_" parent="d_bot_cam_holder_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>

</robot>
