<?xml version="1.0"?>
<!--
  This file launches the drivers of the real robots instead of the simulation.
  The first section starts the robot drivers.
  The second section starts cameras, grippers, tools etc.
-->
<launch>

  <!-- Launch PhoXi camera -->
  <include file="$(find aist_phoxi_camera)/launch/run.launch">
    <arg name="camera_name"	value="a_phoxi_m_camera"/>
    <arg name="id"		value="2018-09-016-LC3"/>
    <arg name="frame"		value="calibrated_a_phoxi_m_camera"/>
  </include>

  <!-- Launch RealSense cameras and associated depth filters -->
  <arg name="camera0_name"	value="a_bot_inside_camera"/>
  <arg name="camera1_name"	value="a_bot_outside_camera"/>

  <include file="$(find aist_depth_filter)/launch/realsense.launch">
    <arg name="serial_no"		value="636203005853"/>
    <arg name="camera_name"		value="$(arg camera0_name)"/>
    <arg name="fps"			value="30"/>
    <arg name="enable_streaming"	value="true"/>
    <arg name="manager"			value="camera_manager"/>
    <arg name="publish_tf"		value="false"/>
    <arg name="vis"			value="false"/>
  </include>

  <include file="$(find aist_depth_filter)/launch/realsense.launch">
    <arg name="serial_no"		value="636203005303"/>
    <arg name="camera_name"		value="$(arg camera1_name)"/>
    <arg name="fps"			value="30"/>
    <arg name="enable_streaming"	value="true"/>
    <arg name="manager"			value="camera_manager"/>
    <arg name="publish_tf"		value="false"/>
    <arg name="vis"			value="false"/>
  </include>

  <!-- Launch camera multiplexer -->
  <node name="camera_multiplexer"
  	pkg="aist_camera_multiplexer" type="aist_camera_multiplexer"
  	output="screen">
    <rosparam param="camera_names" subst_value="true">
      [$(arg camera0_name), $(arg camera1_name)]
    </rosparam>

    <remap from="/camera_info0"
	   to="$(arg camera0_name)/depth_filter/camera_info"/>
    <remap from="/image0"	to="$(arg camera0_name)/depth_filter/image"/>
    <remap from="/depth0"	to="$(arg camera0_name)/depth_filter/depth"/>
    <remap from="/normal0"	to="$(arg camera0_name)/depth_filter/normal"/>
    
    <remap from="/camera_info1"
	   to="$(arg camera1_name)/depth_filter/camera_info"/>
    <remap from="/image1"	to="$(arg camera1_name)/depth_filter/image"/>
    <remap from="/depth1"	to="$(arg camera1_name)/depth_filter/depth"/>
    <remap from="/normal1"	to="$(arg camera1_name)/depth_filter/normal"/>
  </node>

</launch>
