<launch>
  <node name="em_talker" pkg="em_chatter" type="em_talker" output="screen" />
  <node name="em_listener" pkg="em_chatter" type="em_listener" output="screen" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="9090" />
  </include>
</launch>
