<?xml version="1.0" ?>
<launch>
  <arg name="camera_id"		default="2018-09-016-LC3"/>
  <arg name="camera_name"	default="a_phoxi_m_camera"/>
  <arg name="camera_frame"	default="$(arg camera_name)_from_b_bot"/>

  <include file="$(find aist_phoxi_camera)/launch/run.launch">
    <arg name="id"			value="$(arg camera_id)"/>
    <arg name="camera_name"		value="$(arg camera_name)"/>
    <arg name="frame"			value="$(arg camera_frame)"/>
    <arg name="trigger_mode"		value="0"/>
  </include>

  <include file="$(find aist_depth_filter)/launch/run.launch"
	   ns="$(arg camera_name)">
    <arg name="camera_info_topic"	value="camera_info"/>
    <arg name="image_topic"		value="texture"/>
    <arg name="depth_topic"		value="depth_map"/>
    <arg name="normal_topic"		value="normal_map"/>
  </include>

  <arg name="command_args"
       value="-d $(find aist_depth_filter)/launch/phoxi.rviz"/>
  <node name="$(anon rviz)" pkg="rviz" type="rviz"
	respawn="false" args="$(arg command_args)" output="screen"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
