<?xml version="1.0" ?>
<launch>

  <arg name="camera_name"	default="b_bot_outside_camera"/>

  <param name="use_sim_time"	value="true"/>
  
  <!-- Load the URDF on the param server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py $(find o2ac_scene_description
		  )/urdf/base_scene.urdf.xacro" />

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher"
  	pkg="robot_state_publisher" type="robot_state_publisher"
  	respawn="true" output="screen" />

  <include file="$(find aist_handeye_calibration
		 )/launch/publish_calibration.launch">
    <arg name="camera_name"	value="$(arg camera_name)"/>
  </include>

  <!-- Launch motion_detector -->
  <include file="$(dirname)/run.launch">
    <!-- <arg name="camera_info_topic" -->
    <!-- 	 value="$(arg camera_name)_throttled/color/camera_info"/> -->
    <!-- <arg name="image_topic" -->
    <!-- 	 value="$(arg camera_name)_throttled/color/image_raw"/> -->
    <arg name="camera_info_topic"
	 value="$(arg camera_name)/color/camera_info"/>
    <arg name="image_topic"
	 value="$(arg camera_name)/color/image_raw"/>
    <arg name="depth_topic"
	 value="$(arg camera_name)/aligned_depth_to_color/image_raw"/>
  </include>

  <!-- Launch axclient -->
  <node name="axclient"	pkg="actionlib" type="axclient.py"
	args="/motion_detector/find_cabletip"/>
  
  <!-- Launch viewers -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
  <node name="$(anon rviz)" pkg="rviz" type="rviz" output="screen"
	args="-d $(dirname)/play.rviz"/>

</launch>
