<?xml version="1.0" ?>
<launch>

  <arg name="marker_id"			default="0"/>
  <arg name="marker_size"		default="0.070"/>    <!-- in meters -->
  <arg name="camera_id"			default="2018-09-016-LC3"/>
  <arg name="camera_name"		default="a_phoxi_m_camera"/>
  <arg name="camera_frame"		default=""/>
  <arg name="marker_frame"		default="marker_frame"/>
  <arg name="reference_frame"		default=""/>
  <arg name="corner_refinement"		default="LINES"/>
  <arg name="planarity_tolerance"	default="0.001"/>
  <arg name="manager"			default=""/>

  <include file="$(find aist_phoxi_camera)/launch/run.launch">
    <arg name="id"			value="$(arg camera_id)"/>
    <arg name="camera_name"		value="$(arg camera_name)"/>
    <arg name="frame"			value="$(arg camera_frame)"/>
    <arg name="trigger_mode"		value="0"/>
  </include>

  <include ns="$(arg camera_name)"
	   file="$(find aist_aruco_ros)/launch/run.launch">
    <arg name="marker_id"		value="$(arg marker_id)"/>
    <arg name="marker_size"		value="$(arg marker_size)"/>
    <arg name="camera_frame"		value="$(arg camera_frame)"/>
    <arg name="marker_frame"		value="$(arg marker_frame)"/>
    <arg name="reference_frame"		value="$(arg reference_frame)"/>
    <arg name="corner_refinement"	value="$(arg corner_refinement)"/>
    <arg name="planarity_tolerance"	value="$(arg planarity_tolerance)"/>
    <arg name="manager"			value="$(arg manager)"/>
    <arg name="camera_info_topic"	value="camera_info"/>
    <arg name="image_topic"		value="texture"/>
    <arg name="depth_topic"		value="depth_map"/>
  </include>

  <node name="$(anon rviz)" pkg="rviz" type="rviz"
	args="-d $(find aist_aruco_ros)/launch/phoxi.rviz"
	respawn="false" output="screen"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
