<?xml version="1.0" ?>
<launch>
  <arg name="marker_id"			default="0"/>
  <arg name="marker_size"		default="0.070"/>    <!-- in meters -->
  <arg name="camera_id"			default="2018-09-016-LC3"/>
  <arg name="camera_name"		default="a_phoxi_m_camera"/>
  <arg name="camera_frame"		default="$(arg camera_name)_from_b_bot"/>
  <arg name="marker_frame"		default="marker_frame"/>
  <arg name="reference_frame"		default=""/>
  <arg name="corner_refinement"		default="LINES"/>
  <arg name="planarity_tolerance"	default="0.001"/>
  <arg name="manager_name"		default="nodelet_manager"/>
  <arg name="manager_threads"		default="4"/>

  <node name="$(arg manager_name)"
	pkg="nodelet" type="nodelet" args="manager" output="screen">
    <param name="num_worker_threads"	value="$(arg manager_threads)"/>
  </node>

  <node name="$(arg camera_name)" pkg="nodelet" type="nodelet"
	args="load aist_phoxi_camera/aist_phoxi_camera_nodelet $(arg manager_name)">
    <param name="id"			value="$(arg camera_id)"/>
    <param name="frame"			value="$(arg camera_frame)"/>
    <param name="trigger_mode"		value="0"/>
  </node>

  <node name="aruco_detector" pkg="nodelet" type="nodelet"
	args="load aist_aruco_ros/aist_aruco_detector_nodelet $(arg manager_name)">
    <remap from="/camera_info"		to="/$(arg camera_name)/camera_info"/>
    <remap from="/image"		to="/$(arg camera_name)/texture"/>
    <remap from="/depth"		to="/$(arg camera_name)/depth_map"/>

    <!-- Other parameters -->
    <param name="image_is_rectified"	value="false"/>
    <param name="marker_id"		value="$(arg marker_id)"/>
    <param name="marker_size"		value="$(arg marker_size)"/>
    <param name="reference_frame"	value="$(arg reference_frame)"/>
    <param name="camera_frame"		value="$(arg camera_frame)"/>
    <param name="marker_frame"		value="$(arg marker_frame)"/>
    <param name="corner_refinement"	value="$(arg corner_refinement)"/>
    <param name="planarity_tolerance"	value="$(arg planarity_tolerance)"/>
  </node>

  <arg name="command_args"
       value="-d $(find aist_aruco_ros)/launch/phoxi.rviz"/>
  <node name="$(anon rviz)" pkg="rviz" type="rviz"
	respawn="false" args="$(arg command_args)" output="screen"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
