<?xml version="1.0" ?>
<launch>
  <arg name="marker_id"			default="0"/>
  <arg name="marker_map"		default="$(find aist_aruco_ros)/config/markermap-17-26-32-256.yaml"/>
  <arg name="marker_size"		default="0.070"/>    <!-- in meters -->
  <arg name="camera_name"		default="a_bot_camera"/>
  <arg name="camera_width"		default="640"/>
  <arg name="camera_height"		default="480"/>
  <arg name="camera_frame"		default="$(arg camera_name)_color_optical_frame"/>
  <arg name="marker_frame"		default="marker_frame"/>
  <arg name="reference_frame"		default=""/>
  <arg name="corner_refinement"		default="LINES"/>
  <arg name="planarity_tolerance"	default="0.005"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"			value="$(arg camera_name)"/>
    <arg name="enable_infra1"		value="true"/>
    <arg name="enable_infra2"		value="true"/>
    <arg name="enable_pointcloud"	value="false"/>
    <arg name="align_depth"		value="true"/>
    <arg name="depth_width"		value="$(arg camera_width)"/>
    <arg name="depth_height"		value="$(arg camera_height)"/>
    <arg name="infra_width"		value="$(arg camera_width)"/>
    <arg name="infra_height"		value="$(arg camera_height)"/>
    <arg name="color_width"		value="$(arg camera_width)"/>
    <arg name="color_height"		value="$(arg camera_height)"/>
  </include>

  <include file="$(find aist_aruco_ros)/launch/run.launch"
	   ns="$(arg camera_name)">
    <arg name="marker_id"		value="$(arg marker_id)"/>
    <arg name="marker_size"		value="$(arg marker_size)"/>
    <arg name="camera_name"		value="$(arg camera_name)"/>
    <arg name="camera_frame"		value="$(arg camera_frame)"/>
    <arg name="marker_frame"		value="$(arg marker_frame)"/>
    <arg name="reference_frame"		value="$(arg reference_frame)"/>
    <arg name="corner_refinement"	value="$(arg corner_refinement)"/>
    <arg name="planarity_tolerance"	value="$(arg planarity_tolerance)"/>
    <arg name="camera_info_topic"	value="color/camera_info"/>
    <arg name="image_topic"		value="color/image_raw"/>
    <arg name="depth_topic"		value="aligned_depth_to_color/image_raw"/>
  </include>

  <arg name="command_args"
       value="-d $(find aist_aruco_ros)/launch/realsense.rviz"/>
  <node name="$(anon rviz)" pkg="rviz" type="rviz"
	respawn="false" args="$(arg command_args)" output="screen"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
