<?xml version="1.0" ?>
<launch>

  <arg name="multiplexer_name"	default="camera_multiplexer"/>
  <arg name="camera_names"	default="a_bot_inside_camera,
					 a_bot_outside_camera,
					 b_bot_inside_camera,
					 b_bot_outside_camera"/>
  <arg name="serial_nos"	default="636201000324,
					 636201001178,
					 634206004668,
					 635201000481"/>

  <arg name="publish_tf"	default="true"/>
  <arg name="camera_width"	default="640"/>
  <arg name="camera_height"	default="480"/>
  <arg name="fps"		default="10"/>
  <arg name="enable_streaming"	default="true"/>
  <arg name="use_nodelet"	default="true"/>
  <arg name="camera_no"		default="0"/>

  <arg if="$(arg use_nodelet)"
       name="manager"		default="camera_manager"/>
  <arg unless="$(arg use_nodelet)"
       name="manager"		default=""/>

  <include file="$(find aist_camera_multiplexer)/launch/realsense.launch">
    <arg name="multiplexer_name"	value="$(arg multiplexer_name)"/>
    <arg name="camera_names"	value="$(arg camera_names)"/>
    <arg name="serial_nos"	value="$(arg serial_nos)"/>
    <arg name="publish_tf"	value="$(arg publish_tf)"/>
    <arg name="camera_width"	value="$(arg camera_width)"/>
    <arg name="camera_height"	value="$(arg camera_height)"/>
    <arg name="fps"		value="$(arg fps)"/>
    <arg name="enable_streaming"	value="$(arg enable_streaming)"/>
    <arg name="manager"		value="$(arg manager)"/>
  </include>

</launch>
