<?xml version="1.0" ?>
<launch>

  <arg name="multiplexer_name"	default="camera_multiplexer"/>
  <arg name="camera_names"	default="a_bot_inside_camera,a_bot_outside_camera,b_bot_inside_camera,b_bot_outside_camera"/>
  <arg name="serial_nos"	default="636201000324,636201001178,634206004668,635201000481"/>
  <arg name="publish_tf"	default="true"/>
  <arg name="camera_width"	default="640"/>
  <arg name="camera_height"	default="480"/>
  <arg name="fps"		default="30"/>
  <arg name="enable_streaming"	default="true"/>
  <arg name="use_nodelet"	default="true"/>
  <arg name="camera_no"		default="0"/>

  <arg if="$(arg use_nodelet)"
       name="manager"		value="camera_manager"/>
  <arg unless="$(arg use_nodelet)"
       name="manager"		value=""/>

  <!-- Launch cameras and hand_eye publishers -->
  <group if="$(eval camera_no != len(camera_names.split(',')))">

  <param name="o2ac_vision_server/a_bot_inside_camera" type="bool" value="true" />
  <param name="o2ac_vision_server/a_bot_outside_camera" type="bool" value="true" />
  <param name="o2ac_vision_server/b_bot_inside_camera" type="bool" value="true" />
  <param name="o2ac_vision_server/b_bot_outside_camera" type="bool" value="true" />

  <node unless="$(arg use_nodelet)"
  name="camera_watcher" pkg="o2ac_vision" type="o2ac_camera_watcher.py" output="screen"/>

</launch>
