<?xml version="1.0"?>
<!--
  This file launches the cameras on the robots. A scene camera is commented out at the end of the file.
-->
<launch>

  <!-- WORKAROUND: Keep this block synced between the osx_bringup_camX/cameras files! -->
  <!-- Synced block start -->
  <!-- Camera parameters -->
  <arg name="camera0_name"	value="a_bot_inside_camera"/>
  <arg name="camera1_name"	value="a_bot_outside_camera"/>
  <arg name="camera2_name"	value="b_bot_inside_camera"/>
  <arg name="camera3_name"	value="b_bot_outside_camera"/>
  
  <arg name="camera0_serial_no"	value="636201000324"/>
  <arg name="camera1_serial_no"	value="636201001178"/>
  <arg name="camera2_serial_no" value="634206004668"/>
  <arg name="camera3_serial_no" value="635201000481"/>
  <arg name="camera_fps"	default="10"/>
  <arg name="camera_width"	default="640"/>
  <arg name="camera_height"	default="480"/>
  <arg name="initial_reset"	default="false"/>
  <!-- Synced block end -->

  <param name="o2ac_vision_server/b_bot_outside_camera" type="bool" value="true" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"		    value="$(arg camera3_name)"/>
    <arg name="serial_no"           value="$(arg camera3_serial_no)"/>
    <arg name="tf_prefix"	    value="calibrated_$(arg camera3_name)"/>
    <arg name="enable_pointcloud"   value="true"/>
    <arg name="align_depth"         value="true"/>
    <arg name="fisheye_fps"         value="$(arg camera_fps)"/>
    <arg name="depth_fps"           value="$(arg camera_fps)"/>
    <arg name="color_fps"           value="$(arg camera_fps)"/>
    <arg name="color_width"         value="$(arg camera_width)"/>
    <arg name="color_height"        value="$(arg camera_height)"/>
    <arg name="enable_infra1"       value="false"/>
    <arg name="enable_infra2"       value="false"/>
    <arg name="initial_reset"       value="$(arg initial_reset)"/>
  </include>
  <include file="$(find o2ac_scene_description)/launch/publish_camera_calibration.launch">
    <arg name="camera_name"	value="$(arg camera3_name)"/>
  </include>

</launch>
