<?xml version="1.0"?>
<launch>
  <arg name="config"		default="o2ac"/>
  <arg name="camera_name"	default="a_phoxi_m_camera"/>

  <!-- Publish hand-eye calibration -->
  <node  name="$(anon handeye_publisher)"
	 pkg="aist_handeye_calibration" type="publish_calibration.py" output="screen">
     <!-- @Ueshiba: Is this file required to publish the calibrated frame? -->
    <rosparam file="$(find aist_handeye_calibration
		    )/config/$(arg config)/$(arg camera_name).yaml"/>
    <rosparam file="$(find o2ac_scene_description
		    )/config/camera_calibration/$(arg camera_name).yaml"/>
  </node>

</launch>
