<?xml version="1.0" ?>
<launch>

  <arg name="config"		default="o2ac"/>
  <arg name="camera_name"	default="a_bot_inside_camera"/>

  <node name="check_calibration"
	pkg="aist_handeye_calibration" type="check_calibration.py"
	output="screen">
    <rosparam file="$(dirname
		    )/../config/$(arg config)/$(arg camera_name).yaml"/>
  </node>

</launch>
